html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #04495a55;
}
.frame {
  margin: auto;

  /* border: 4px solid #555; */
  border: 8px solid #04495a;
  border-radius: 8px;
  background-color: #eee;

  /* The frame will limit it's size to around 1/4 the dimensions of an iPhone 15 */
  --scale-down-factor: 4;
  width: 100%;
  max-width: calc(1179px / var(--scale-down-factor));
  height: calc(2556px / var(--scale-down-factor));
  max-height: 100%;
}

.iframe>iframe {
  opacity: 1;
  border: none;
}
